.view-card {
    width:50vh;
    background-color: #2b2a2a;
    color:white;
    padding: 10px;
    border-radius: 10px;
    transition-duration: 0.25s;
    margin:10px;
}
.view-card{
    margin-top: 20px;
    color:white;
}
.view-card:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 9px rgb(240, 231, 231);
    color:white;
}
img {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom:10px;
}

#other {
    font-weight: lighter !important;
}

